// ————————————————————————————————————
//* ——— Import Fonts
// ————————————————————————————————————
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,800;1,500&display=swap');

// ————————————————————————————————————
//* ——— Variables
// ————————————————————————————————————
$body-font-family: 'Overpass', sans-serif;


// ————————————————————————————————————
//* ——— Global Style
// ————————————————————————————————————
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none !important;
    }

    ul,
    li {
        list-style: none;
        padding: 0;
    }

    .background {
        background: #EFF1EF;
    }

    .span {
        font-size: 1.1rem;
    }

    .v-application {
        font-family: $body-font-family, sans-serif !important;
    }

    

// ————————————————————————————————————
//* ——— Mixins
// ————————————————————————————————————

    // custom responsive if want to use
    // @mixin media-xxl {
    //     @media screen and (min-width: 1200px) and (max-width:1600px) {
    //         @content;
    //     }
    // }